# Node modules
node_modules/

# Environment variables
.env

# Logs
logs/
*.log

# npm debug file
npm-debug.log*

# IDE specific files
.vscode/
.idea/

# MacOS specific files
.DS_Store

# Output directories
dist/
build/
coverage/
